
.navcolor{
    background-color: rgb(48, 8, 0);
   
}
nav{
    border-bottom: 4px solid white;
    box-shadow: 8px 8px 15px  rgb(48, 8, 0);
}
.text , .headcart{
    color:rgb(211, 26, 26) !important;;
    font-size: 35px !important;
font-family: 'Amiri', serif;
}
.icon{
    color: rgb(182, 123, 84) !important;
    font-size: 40px;
      cursor: pointer;
    
}
.headcart{
    background-color:  linear-gradient(to bottom, #ebc8d9, #f8f8f8);
}
.text:hover{
     color:white !important;
     transition: color 0.3s ease-in 0.2s;
     -webkit-transition: color 0.3s ease-in 0.2s;
     -moz-transition: color 0.3s ease-in 0.2s;
     -ms-transition: color 0.3s ease-in 0.2s;
     -o-transition: color 0.3s ease-in 0.2s;
}
.text:hover{
          transform: skew(10deg);

}
form .text{
    color: rgb(177, 177, 37) !important;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.search{
color: rgb(211, 26, 26) !important;;
}
.search:hover{
    color: green !important;
    transition: color 0.3s ease-in 0.2s ;
    -webkit-transition: color 0.3s ease-in 0.2s ;
    -moz-transition: color 0.3s ease-in 0.2s ;
    -ms-transition: color 0.3s ease-in 0.2s ;
    -o-transition: color 0.3s ease-in 0.2s ;
}
.shop{
    color:rgb(184, 11, 11) !important;
}
.line{
    width: 3px;
   background-color: white !important;
    height: 50px;
    z-index: 2234;

}
.index{
    margin-top: 100px;
    max-height: 170vh;
    overflow: hidden;
}



.img{
    height:100vh;
    width: 100%;
    object-fit:cover;
    animation:slow-rotate 10s infinite linear ;
    -webkit-animation:slow-rotate 10s infinite linear ;
    transform-origin: center center;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
@keyframes slow-rotate {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
  100% { transform: rotate(6deg); -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); -ms-transform: rotate(6deg); -o-transform: rotate(6deg);
}
} 
.btnn{
    background-color:  rgb(182, 123, 84) !important;
    margin-right:10px;
}
.photo{
    height: 200px;
    border-radius: 2134567890px !important;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}
.grid-display{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.item:hover{
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
}
.item{
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}
.line1{
 
    height: 2px;
    background-color: black;
}
.m-btn{
    margin-top: 150px;
}
.imgcollection {
    height: 300px;
    
}
.btncollection:hover{
background-color: chocolate !important;
color:  white !important;
font-size: 20px;
}
.cardheader{
    animation:  slow-rotate 3s infinite linear ;
    -webkit-animation:  slow-rotate 3s infinite linear ;
}
@keyframes slow-rotate {
  0%   { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
  100% { transform: rotate(6deg); -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); -ms-transform: rotate(6deg); -o-transform: rotate(6deg);
}
} 
 .gift {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff; 
}

.full-image {
  width: 100%;
  height: 100vh;
  object-fit: cover; 
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  color: rgb(48, 8, 0) !important;
}

.title .btncollection {
  padding: 15px 25px;
  font-size: 20px;
  color: rgb(145, 133, 143);
  background-color: rgb(48, 8, 0) !important;
  border: none;
  margin-top: 20px;
}

.title .btncollection:hover{
    font-size: 40px !important;
    color: white;
}
.footer{
    margin-top: 50px;
    background-color:  rgb(48, 8, 0)!important;
    color: #fff;
}
input[type='email']{
    padding: 20px 150px;
    text-align: left ;
    color: black !important;
}
div .bttn{
    padding:20px 20px !important;
    background-color: rgb(238, 234, 20) !important;
}

.link:hover{
color: rgb(197, 124, 29) !important;
}
.headheels{

font-family: 'Times New Roman', Times, serif;
font-style: italic;

}

.all{
margin-top: 150px;

}
.m-btn:hover{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}
.cart-container {
    position: relative;
}
#cart-count{
    position: absolute;
    top: 8px;
    left:24px;
  color: #fff;

}
.heels{
    
  background: linear-gradient(to bottom, #ebc8d9, #f8f8f8);


}
.advertizing{
    margin-top: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.bags ,.cart{
      background: linear-gradient( #e0b8b7, #fff0f6);
}
 .cart {
     padding: 20px; 
    }

.cart-item img
 {  max-width: 100px; }

 .quantity-controls button {
     min-width: 30px; }


     .hover-effect:hover {
  background-color: #052e5a;
  color: #fdfcfc;
  transform: scale(1.05);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.headercheckout{
    height: 30vh;
    background-color: black;
    border-bottom: 2px solid white;
      display: flex;
  align-items: center;    
  
}
.bodycheckout{
    background-color: #000;
    height:850px;
}


.logo-container {
  padding-left: 30px;     
}
.logo {
  width: 160px;
  height: auto;
  max-width: 100%;
}