@media screen and (max-width:470px){
    header{
        margin-top: 100px;
    }
     .grid-display{
     
    grid-template-columns: 1fr !important;
  
   }
    .item{
        margin-top: 20px;
    }

}
@media screen and (max-width:1000px){
   .line{
        display: none;
    }
   .grid-display{
  
    grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }
    .logo-container {
    padding-left: 15px;
  }

  .logo {
    width: 90px;
  }
  .title .btncollection {
    font-size: 16px;
    padding: 10px 20px;
  }
}